# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Credentials to Google Drive and Sheets
service_account.json
token.json

# Local log files used in case of error to log to Google Drive
.*csv

# Recordings of the camera module
camera-records
mic-records

# Print outputs
output.txt
